




<div class="container">

<div class="page-wrapper mt-4">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Your Duties</h4><br><br>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-lg-2">

               <div class="card card-hover card-sm mb-3">
                <div class="box bg-dark text-center">
                  <h1 class="font-light text-white">
                    <i class="bi bi-people"></i>
                  </h1>
                  <h6 class="text-white">Total Duties</h6>
                  <h3 class="text-white"><b>{{duties.duties.length}}</b></h3>
                </div>
              </div>
              </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                            <th>No.</th>
                             <th>date</th>
                             <th>Patient Id</th>
                            <th>Name</th>
                            <th>guardian name</th>
                            <th>guardian phone</th>
                            <th>NurseNote</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each duties.duties}}
                            <tr>
                            <td>{{incremented @index}}</td>
                             <td>{{this.currentDate}}</td>
                            <td>{{this.p_id}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.patientG_name}}</td>
                            <td>{{this.patientG_mobile}}</td>
                            <td>{{this.nurseNote}}</td>
                            <td><a href="volunteer/complete-duties/{{this.v_id}}/{{@index}}" class="btn btn-success text-white"> Complete </a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>