{{!-- <style>
    @media print {
   @page {
     margin-left: 0.8in;
     margin-right: 0.8in;
     margin-top: 0;
     margin-bottom: 0;
   }
}

#container {
    width: 800px;
    margin: 0 auto;
}
</style>

<div id="container">
    <div class="container text-center mt-5">
        <!-- Green tick (you can use an image or an icon library) -->
         <img src="/images/health-care.png" height="250" width="250">
        
        <h2 class="mt-3">Thank you for your donation!</h2>
        
        <!-- Donation Acknowledgment -->
        <p>Your donation with receipt ID <strong>{{data.d_id}}</strong> of <strong>&#x20B9;{{data.amount}}</strong> on {{data.date}} by {{data.name}} has been received and acknowledged.</p>


         <a href="#" id="print" class="btn btn-warning">Download Receipt</a>
          <a href="/" id="close" class="btn btn-danger">Close</a>
        
    </div>

</div> --}}

<style>
    
 .centered {
    position: absolute;
    left: 50%;
    margin-top: -226px;
    font-size: 25px;
    font-weight: 700;
    color: black;
    transform: translate(-50%, -50%);
}
</style>
<center>
    <img class="mt-4" src="/images/cr.png" width="50%">
      <div class="centered">{{data.name}}</div>
    </center>
    <center>
<a href="#" id="print" class="btn btn-warning">Download Receipt</a>
          <a href="/" id="close" class="btn btn-danger">Close</a>
</center>


<script>
    document.addEventListener("DOMContentLoaded", () => {
    let printLink = document.getElementById("print");
    let closeLink = document.getElementById("close");
    let container = document.getElementById("container");

    printLink.addEventListener("click", event => {
        event.preventDefault();
        printLink.style.display = "none";
        closeLink.style.display = "none";
        window.print();
    }, false);

    container.addEventListener("click", event => {
        printLink.style.display = "flex";
        closeLink.style.display = "flex";
    }, false);

}, false);
</script>


